body {
  margin: auto;
  /* background-color: black; */
}
a {
  text-decoration: none;
}
header {
  height: 70px;
  /*border:5px solid blue;*/
  background-color: #c41542;
}
#brand {
  color: #fff;
  font-size: 30px;
  float: left;
  margin-top: 1%;
  margin-left: 1%;
}
#social {
  float: right;
  margin-top: 7px;
  margin-right: 1%;
}
.socialImg {
  height: 50px;
}
/* Search Block Css */
#container {
  display: inline-block;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}

.filter {
  display: inline-block;
  /* height: 500px; */
  width: 20%;
  margin: 0.5%;
  /* border: 2px solid green; */
  float: left;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.content {
  width: 75%;
  margin-left: 4%;
  margin-bottom: 2%;
  border: 2px solid #fff;
  float: left;
  display: inline-block;
}
/* Main Content */
#searchbyname {
  margin-top: 1%;
  margin-left: 3%;
}
#searchResult {
  margin-top: 3%;
  margin-left: 3%;
}
#searchinfo {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  font-weight: 600;
}
#listresult {
  margin-left: 1%;
  width: 96%;
  display: inline-block;
  margin-bottom: 2%;
  /* border: 2px solid black; */
}
.card {
  float: left;
  margin-top: 1%;
  margin-left: 1%;
  width: 32%;
  height: 310px;
  border-radius: 20px;
  animation: dance 10s infinite;
  /* box-shadow: 5px 5px 1px #3b2632; */
  /* border: 1px solid black; */
}
@keyframes dance {
  0% {
    transform: rotate(-5deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
.card:hover {
  transform: scale(1.1);
  /* transform: skew(5deg); */
  /* transform: rotate(90deg); */
  /* transform: translate(10px, 10px); */
}
.card > a > img {
  height: 180px;
}
.card-title {
  font-size: 16px;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.card-text {
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* .perpiece {
  float: right;
} */
.per_piece > del {
  font-family: Georgia, "Times New Roman", Times, serif;
  float: right;
}
.per_piece > span {
  font-family: Georgia, "Times New Roman", Times, serif;
  float: right;
}

.btn {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: block;
}
/* Footer Block Css */
footer {
  height: 140px;
  background-color: #c41542;
  color: #fff;
  text-align: center;
}

ul {
  list-style: none;
}

.fotDiv {
  width: 32%;
  float: left;
  border-right: 2px solid white;
}

.noBorder {
  border: none;
}

@media screen and (max-width: 1000px) {
  .card {
    width: 48%;
  }
  .card-title {
    font-size: 15px;
  }
}

@media screen and (max-width: 499px) {
  .card {
    width: 90%;
  }
  .card-title {
    font-size: 15px;
  }
}
